html
{
    height: 100vh;
    overflow-x: hidden;
}

body
{
    height: 100vh;
}

.pagina
{
    height: 140%;
}

#navBarra
{
    padding-bottom: 0px; 
    border-width: 0px 0px 1px 0px; 
    border-style:solid; 
    border-color:lightgray; 
    max-width:95vw;
}

#navLogo
{
    font-size: 170%;
    font-weight: bolder;
    font-family: Roboto;
    color: black;
}

.link
{
    font-size: 130%;
    text-decoration:none;
    font-family: Roboto;
    font-weight:lighter;
    color: black
}

.icono
{
    font-size:210%;
    color: rgb(85,33,51);
}

.altura
{
    height: 88.5%;
}

.fondo
{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover
}

.fondo-1
{
    background-image:url(../img/camera-11.jpg); 
}

.fondo-2
{
    background-image:url(../img/newatlas.jpg); 
}

.fondo-3
{
    background-image:url(../img/photo-25.jpg);
}

.titulo
{
    font-size: 48px;
    font-weight: bolder;
    font-family: Roboto;
    color: white;
}


.subtitulo
{
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
    color: white;
}

.imagen-2
{
    font-size: 52px;
}

.imagen-3
{
    width: 187px;
    font-size: 16px;
    background-color: red;
}
    
.renglon-2
{
    display: inline-block;
    white-space: nowrap;
    padding-bottom:10px;
    width: 155px;
    margin-top: -5px; 
}

.renglon-3
{
    float: right;
    width: 40px;
    height: 100px;
    background-color: transparent;
    font-size: 47px;
}

.col-sm-11h
{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.empty
{
    color: inherit;
    text-decoration:none!important;
}

@media screen and (min-width: 576px) 
{
    #navLogo
    {
        font-size: 225%;
        font-weight: bolder;
        font-family: Roboto;
        color: black;
    }
    
    .link
    {
        font-size: 180%;
        text-decoration:none;
        font-family: Roboto;
        font-weight:lighter;
        color: black
    }
    
    .icono
    {
        font-size:325%;
        color: rgb(85,33,51);
    }

    .titulo
    {
        font-size: 45px;
        font-weight: bolder;
        font-family: Roboto;
        color: white;
    }

    .subtitulo
    {
        font-size: 17px;
        font-family: Roboto;
        font-weight: normal;
        color: white;
    }

    .imagen-3
    {
        width: 187px;
        font-size: 16px;
        background-color: red;
    }
    
    .renglon-2
    {
        display: inline-block;
        white-space: nowrap;
        padding-bottom:10px;
        width: 155px;
        margin-top: -5px; 
    }

    .renglon-3
    {
        float: right;
        width: 40px;
        height: 100px;
        background-color: transparent;
        font-size: 52px;
    }

    .col-sm-11h
    {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex: 0 0 97%;
        flex: 0 0 97%;
        max-width: 97%;
    }
}

@media screen and (min-width: 768px) 
{
    .titulo
    {
        font-size: 56px;
        font-weight: bolder;
        font-family: Roboto;
        color: white;
    }

    .subtitulo
    {
        font-size: 24px;
        font-family: Roboto;
        font-weight: normal;
        color: white;
    }

    .imagen-3
    {
        width: 260px;
        font-size: 22px;
        background-color: red;
    }
    
    .renglon-2
    {
        display: inline-block;
        white-space: nowrap;
        padding-bottom:10px;
        width: 210px;
        margin-top: -5px; 
    }

    .renglon-3
    {
        float: right;
        width: 65px;
        height: 100px;
        background-color: transparent;
        flex-basis: 10%;
        font-size: 80px;
    }
}


@media screen and (min-width: 992px) 
{
    .titulo
    {
        font-size: 63px;
        font-weight: bolder;
        font-family: Roboto;
        color: white;
    }

    .subtitulo
    {
        font-size: 31px;
        font-family: Roboto;
        font-weight: normal;
        color: white;
    }

    .imagen-3
    {
        width: 360px;
        font-size: 31px;
        background-color: red;
    }

    .renglon-2
    {
        display: inline-block;
        white-space: nowrap;
        padding-bottom:10px;
        width: 290px;
        margin-top: -5px; 
    }

    .renglon-3
    {
        float: right;
        width: 90px;
        height: 100px;
        background-color: transparent;
        flex-basis: 10%;
        font-size: 90px;
    }
}
